<div class="container-fluid mt-5">
  <h2>Notas</h2>
  <a
    mat-button
    [routerLink]="['/', 'agregar']"
    matTooltip="Agregar nueva nota"
    aria-label="Button that displays a tooltip when focused or hovered over"
  >
    <mat-icon>add_circle</mat-icon>
    Agregar nuevo
  </a>

  <br />

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
  </mat-form-field>

  @if(estaCargando){
  <mat-spinner />
  }

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef>tags</th>
      <td mat-cell *matCellDef="let element">{{ element.tags }}</td>
    </ng-container>

    <ng-container matColumnDef="valor01">
      <th mat-header-cell *matHeaderCellDef>Valor 01</th>
      <td mat-cell *matCellDef="let element">
        @if(element.valor03.length > 10){
        {{ element.valor01.substring(8, 25) }}... }@else {
        {{ element.valor01 }}
        }
        <button mat-button (click)="copiarEnPortapapeles(element.valor01)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="valor02">
      <th mat-header-cell *matHeaderCellDef>Valor 02</th>
      <td mat-cell *matCellDef="let element">
        {{ element.valor02.substring(0, 10) }}
        <button mat-button (click)="copiarEnPortapapeles(element.valor02)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="valor03">
      <th mat-header-cell *matHeaderCellDef>Valor 03</th>
      <td mat-cell *matCellDef="let element">
        @if(element.valor03 != "" && element.valor03 != undefined){
        @if(element.valor03.length > 10){
        {{ element.valor03.substring(0, 10) }}... }@else {
        {{ element.valor03 }}
        }
        <button mat-button (click)="copiarEnPortapapeles(element.valor03)">
          <mat-icon>content_copy</mat-icon>
        </button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="valor04">
      <th mat-header-cell *matHeaderCellDef>Valor 04</th>
      <td mat-cell *matCellDef="let element">
        @if(element.valor04 != "" && element.valor04 != undefined){
        {{ element.valor04 }}
        <button mat-button (click)="copiarEnPortapapeles(element.valor04)">
          <mat-icon>content_copy</mat-icon>
        </button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <a mat-button href="editar/{{ element.id }}">
          <mat-icon>edit_note</mat-icon>
        </a>
        <button mat-button (click)="editar(element)">
          <mat-icon>edit_note</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    <!-- <tbody>
            @for (item of notas; track $index) {
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.contenido}}</td>
                    <td>{{item.tags}}</td>
                    <td>
                        <a href="editar/{{item.id}}">Editar</a>
                    </td>
                </tr>
                }
            </tbody> -->
  </table>
</div>
