<form [formGroup]="_formGroup" (submit)="guardar()">
  <br/>
  <mat-form-field appearance="outline">
    <mat-label>Tags</mat-label>
    <input matInput formControlName="tags" maxlength="32" />
  </mat-form-field>

  <br/>
  <mat-form-field appearance="outline">
    <mat-label>Valor 1</mat-label>
    <input matInput formControlName="valor1" maxlength="1000" />
  </mat-form-field>

  <br />
  <mat-form-field appearance="outline">
    <mat-label>Valor 2</mat-label>
    <input matInput formControlName="valor2" maxlength="32" />
  </mat-form-field>

  <br />
  <mat-form-field appearance="outline">
    <mat-label>Valor 3</mat-label>
    <input matInput formControlName="valor3" maxlength="32" />
  </mat-form-field>

  <br />
  <mat-form-field appearance="outline">
    <mat-label>Valor 4</mat-label>
    <input matInput formControlName="valor4" maxlength="32" />
  </mat-form-field>

  <br />
  @if(_estaCargando){
  <button mat-fab extended color="primary" type="submit" [disabled]="_estaCargando">
      <mat-spinner [diameter]="20"></mat-spinner>
  </button>
  Un momento ...
  }@else {
  <button mat-fab extended color="primary" type="submit">
      <mat-icon>save</mat-icon> Guardar
  </button>
  }
</form>
